<div class="container">

  <div class="title">
    <h1>new</h1>
  </div>

  <div>
    <p><%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %> </p>
    <p><%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %> </p>
    <p><%= f.button :submit, "create", class: "btn btn-danger" %>
    <% end %></p>
  </div>

  <div>
    <p> <i class="fas fa-arrow-circle-left"></i> <%= link_to "back to all", root_path %></p>
  </div>

</div>





