<div class="container">

  <div class="title">
    <h2>new</h2>
  </div>

  <div class="new-cocktail col-xs-12 col-sm-4">
    <p><%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %> </p>
    <p><%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %> </p>
    <p><%= f.button :submit, "create", class: "btn btn-danger" %>
    <% end %></p>
  </div>

  <div>
    <p class="back-to-all"> <i class="fas fa-arrow-circle-left"></i> <%= link_to "back to all", root_path %></p>
  </div>

</div>





