<div class="container">

  <div>
    <h1> <%= @cocktail.name %> </h1>
    <p> <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %> </p>
    <% @doses.each do |dose| %>
    <p> <%= dose.description %> of <%= dose.ingredient.name %>
      <%= link_to "delete", dose_path(dose),
      method: :delete,
      data: { confirm: "are you sure?" } %>
    </p>
    <% end %>
  </div>

  <div>
    <p> </p>
  </div>

  <div>
    <p> <i class="fas fa-plus-circle"></i> <%= link_to "include dose of ingredients", new_cocktail_dose_path(@cocktail) %></p>
  </div>

  <div>
    <p> <i class="fas fa-arrow-circle-left"></i> <%= link_to "back to all", root_path %></p>
  </div>

</div>



